.item__wrap {
    display: flex;
    flex-direction: column;
    
    .category {
        background-color: white;
        border-radius: 20px;
        padding: 13px 16px 8px 16px;
        font-size: 16px;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        position: relative;
        z-index: 1;
        bottom: 160 - 19px;
        left: 48px;
        cursor: pointer;
    }

    .name {
        font-weight: 800;
        font-size: 40px;
        color: white;
        position: relative;
        z-index: 1;
        bottom: 41+54+19px;
        left: 48px;
        width: 60%;
    }
}

@media (max-width: 374px) {
    .item__wrap {
        .category {
            font-size: 14px;
        }

        .name {
            font-size: 28px;
        }
    }
}

